@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
body{
  background: #f2f2f2;
}
section {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/915988c20bba56c0b5691503/pexels-photo-3218467.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  transition: all 0.6 s;
  transition-delay: 0.01s;
}
.menu{
  cursor: pointer;
}
.side-menu {
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 300px;
  top: 0;
  left: 0;
  transform: translateX(-300px);
  background-color: black;
  z-index: 1000;
  transition: all 0.5s;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.content {
  margin: 10px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.logo {
  height: 229px;
  width: 359px;
  margin-top: 30px;
}
.title {
  font-size: 3.75rem;
  color: #fff;
  font-family: 'Playfair Display', serif !important;
  margin: 80px 106px 0;
}.para{
  color: #fff;
}
.path{
    margin-top: 2.75rem;
}
.cont_1{
position: relative;
top: 100%;
width: 100%;
 height: 100vh;
  background: #f2f2f2;
}
.head{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.head p{
  letter-spacing: 4px;
    font-weight: 300;
    font-family: 'Roboto',sans-serif;
    margin: 60px auto 0;
    font-size: 1.125rem;
}
.head h1{
    font-weight: 700;
    font-size: 3rem;
    margin: 20px auto 0;
    font-family: 'Playfair Display', serif !important;
}
.box_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px 40px;
}
.box_container .box{
  max-width: 510px;
  padding: 30px 40px;
  font-size: 1.125rem;
  text-align: center;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.box_container .box .p1{
  letter-spacing: 4px;
  font-family: 'Roboto',sans-serif;
  font-size: 1.115rem;
}
.box_container .box .p2{
  margin: 10px 0 0;
  font-size: 1rem;
  width: 500px;
  text-align:center;
  line-height: 1.75rem;
}
.flexbox{
  background-image: url('https://images03.nicepage.com/c461c07a441a5d220e8feb1a/e2f38b67aa6e56639487cb0f/ed-min.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 150px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 15px;
    flex: 0.5;
}
.flex{
    background: linear-gradient(rgba(1,1,1,0.5), rgba(1,1,1,0.5));
    padding: 20px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.flex h1{
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
}
.fourth_temp{
  background-color: #fff;
  display: flex;
  color: #111111;
}
.temp-four{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px;
}
.fourth-t{
  width: 300px;
  height: 330px;
  padding: 0px 30px 30px 30px;
  text-align: center;
  background-color:#fff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-t img{
  object-fit: cover;
  width: 360px;
  height: 360px;
}
.hover{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourth-t .fourth-p{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.125rem;
    margin: 0 auto;
}
.fourth-t h1{
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
  font-family: 'Playfair Display', serif !important;
}
.fourth-t p{
  margin: 20px auto 0 0;
}
.fourth-t .name{
  font-family: 'Open Sans', sans-serif;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 30px auto 0;
  padding: 0;
}
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
    margin: 40px 30px 0;
  }
  .head h1{
    font-size: 2rem;
  }
  .para {
    font-size: 1rem;
    width: 340px;
  }
  .box_container .box .p2{
    font-size: 1rem;
    width: 350px;
  }
  .flexbox{
    margin-top: 700px;
  }
  .flex-cont{
    flex: 0.99;
  }
.fourth-t img{
  object-fit: cover;
  width: 300px;
  height: 320px;
}

 
}
@media (min-width: 601px) and (max-width: 1000px){
    .title {
        font-size: 2.75rem;
        margin: 30px 20px 0;
      }
      .para {
        font-size: 1.1rem;
        margin-top: 60px;
        width: 560px;
      }
}
@media (min-width: 1000px) and (max-width: 1335px){
    .title{
        font-size: 4rem;
    }
    .para{
        font-size: 1.25rem;
        margin-top: 30px;
        align-items: center;
        width: 620px;
    }
}
@media (min-width: 1336px) and (max-width:2000px){
    .para{
        font-size: 1.45rem;
        margin-top: 50px;
    }  
    
}
